name: Deploy to Cloudflare Workers

on:
    push:
        branches:
            - main

jobs:
    deploy:
        runs-on: ubuntu-latest
        name: Deploy
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Setup Node.js
              uses: actions/setup-node@v3
              with:
                  node-version: 18

            - name: Install pnpm
              uses: pnpm/action-setup@v2
              with:
                  version: latest
                  run_install: false

            # - name: Get pnpm store directory
            #   id: pnpm-cache
            #   run: |
            #       echo "STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT

            # - uses: actions/cache@v3
            #   name: Setup pnpm cache
            #   with:
            #       path: ${{ steps.pnpm-cache.outputs.STORE_PATH }}
            #       key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
            #       restore-keys: |
            #           ${{ runner.os }}-pnpm-store-

            - name: Install dependencies
              run: pnpm install

            - name: Deploy to Cloudflare Workers using Wrangler
              uses: cloudflare/wrangler-action@2.0.0
              with:
                  apiToken: ${{ secrets.CF_API_TOKEN }}
